* {
	box-sizing: border-box;
}

body {
	transition: 300ms;
	margin: 0px;
	user-select: none;
	touch-action: manipulation;
	overflow-X: hidden;
	/*color:auto;*/
	font-family: sans-serif;
}

.logo-div {
	margin-left: 30px;
}

.top-navbar {
	width: 100vw;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}


#menu-btn>span {
	display: block;
	position: relative;
	width: 2em;
	height: 2em;
	transition: transform 0.5s ease;
	overflow: hidden;
	margin: 1em;
}

.s1,
.s2,
.s3 {
	display: block;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	transition: all 0.5s ease;
	border: 1px solid transparent;
}

#menu-btn.menu>span>span {
	transform: scale(1, 0.2) translate(0, -3em);
}

#menu-btn.menu>span>span.s2 {
	transform: scale(1, 0.2) translate(0, 0);
}

#menu-btn.menu>span>span.s3 {
	transform: scale(1, 0.2) translate(0, 3em);
}

#menu-btn.close>span {
	transform: rotate(45deg);
}

#menu-btn.close>span>span,
#menu-btn.plus>span>span {
	transform: scale(1, 0.2);
}

#menu-btn.close>span>span.s3,
#menu-btn.plus>span>span.s3 {
	transform: scale(0.2, 1);
}

#menu-page {
	position: fixed;
	z-index: 4;
	height: 100vh;
	width: 100vw;
	background: #80808040;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	transition: 400ms;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10vw;
	top: -100vh;
	left: 100vw;
}

#menu-page>text {
	transition: 400ms;
	color: transparent;
	margin: 15px 0px;
}

section {
	width: 100vw;
	min-height: 100vh;
}

#about {
	display: flex;
	align-items: center;
}

#services {
	background-image: url(../assets/blue-shade3.svg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
	background-image: url(../assets/blue-shade2.svg);
	background-size: cover;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
	text-decoration: none;
}

.btn:focus,
.btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0056b3;
	border-color: #004085;
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #004085;
	border-color: #003768;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.ul-border{
    box-shadow: 0px 0px 0px 2px #00b2e7;
    padding: 10px;
    border-radius: 10px;
}

#projects>p, #contact>p{
	font-size: 24px;
	margin-bottom: 0px;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
	color: #005686;
}

.ul-border>p{
	color: #00b2e7;
}

ul{
	list-style-type: disc;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
}

.card-style {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #00000080;
	backdrop-filter: blur(15px);
	background-color: #ffffff40;
	height: 324px;
}

.card-dp {
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50px;
	background-size: contain;
}

footer {
	background: black;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
}

.sos-icon{
	width: 50px;
	height: 50px;
	background-size: contain;
}

#copy {
	font-size: 12px;
}

/* ----- RESPONSIVENESS START ----- */
@media only screen and (max-width: 768px) {

	/* For mobile: */
	.logo_1 {
		width: 55vw
	}

	.logo_2 {
		top: 200vh;
		background-image: url(logo.svg);
		background-repeat: no-repeat;
		background-position: 63% -20%;
		background-size: 600%;
		width: 100vw;
		height: 200vh;
		position: absolute;
		z-index: -1;
		opacity: 25%;
	}

	.more {
		width: fit-content;
        margin-left: auto;
        margin-right: 15vw;
        margin-bottom: 33vw;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
	}

	.card-resp {
		padding: 25px;
		width: 100%;
		min-height: 300px;
	}

	.description {
		margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 1vh;
        margin-bottom: auto;
		font-family: cursive;
	}

	#home {
		background-image: url(../assets/main-home.jpeg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: 50%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
	}

	#home>p, #services>p {
		margin-left: 10vw;
		margin-right: 5vw;
		font-size: 20px;
	}

	#services>p {
		color: #005686;
	}

	#menu-btn {
		z-index: 5;
		display: inline-block;
		width: 4em;
		height: 4em;
		background: #ffffff40;
		backdrop-filter: blur(10px);
		border-radius: 1em;
		overflow: hidden;
		transform: translateZ(0);
		transition: all 0.5s ease;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		position: fixed;
		right: 10px;
		top: 10px;
	}
}

@media only screen and (min-width: 768px) {

	/* For desktop: */
	.logo_1 {
		height: 55px;
	}

	.more {
		width: fit-content;
		margin-left: 10vw;
		margin-right: auto;
		margin-bottom: 15vh;
		border-radius: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.card-resp {
		padding: 25px;
		width: 50%;
		min-height: 300px;
	}

	.description {
		margin-left: 10vw;
        margin-right: 45vw;
        margin-bottom: 10%;
        font-family: cursive;
        font-size: 25px;
	}

	#home {
		background-image: url(../assets/main-home.jpeg);
		background-repeat: no-repeat;
		background-position: 90% 25%;
		background-size: 30%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}

	#home>p,#services >p {
		margin-left: 10vw;
		margin-right: 5vw;
		font-size: 35px;
	}

	#services>p {
		color: #005686;
	}

	#menu-btn {
		z-index: 5;
		display: inline-block;
		width: 4em;
		height: 4em;
		background: #ffffff40;
		backdrop-filter: blur(10px);
		border-radius: 1em;
		overflow: hidden;
		transform: translateZ(0);
		transition: all 0.5s ease;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		position: fixed;
		right: 10px;
		top: 10px;
	}
}


/* ----- RESPONSIVENESS END ----- */