* {
	box-sizing: border-box;
}

body {
	transition: 300ms;
	margin: 0px;
	user-select: none;
	touch-action: manipulation;
	overflow-X: hidden;
	/*color:auto;*/
	font-family: sans-serif;
}
#boot{
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	position: fixed;
	z-index: 6;
	transition: 500ms;
	background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective:500px;
}
#boot-logo{
	width: 1vh;
	height: 1vh;
	transition: 400ms;
	background-image: url('../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: rotateX(-80deg) rotateY(-80deg);
    animation: rotateAnimation 20s linear infinite;
}

@keyframes rotateAnimation {
	0% {
		transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotate(360deg);
	}
}

.logo-div {
	margin-left: 30px;
}

.top-navbar {
	width: 100vw;
    height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}


.menu{
	position: fixed;
	z-index: 5;
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    background: #ffffff40;
	backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.stick{
	transition: 300ms;
	transform-origin: center center;
	background: #00b2e7;
    width: 44px;
    height: 6px;
    border-radius: 100px;
}
.s1-open{
	transform: rotate(45deg) translateX(12px) translateY(12px);
}
.s2-open{
	transform: rotate(45deg) translateX(0px) translateY(0px);
	opacity: 0;
}
.s3-open{
	transform: rotate(-45deg) translateX(12px) translateY(-12px);
}
.menu-page{
	transition: 400ms;
	position: fixed;
	background: blue;
}
.menu-page-clossed{
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    border-radius: 10px;
}
.menu-page-opened{
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
}

#menu-page {
	position: fixed;
	z-index: 4;
	height: 100vh;
	width: 100vw;
	background: #80808040;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 50px;
	transition: 400ms;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10vw;
	top: -100vh;
	left: 100vw;
	perspective: 500px;
}

#menu-page>text {
	margin: 15px 5vw;
	width: 0px;
	color: #00b2e7;
	transform: rotateY(50deg);
	overflow: hidden;
	white-space: nowrap;
	border-radius: 50px;
	transform-origin: left center;
}

#menu-page>text:hover{
	transition: 300ms;
	box-shadow: 0px 0px 0px 4px #005686;
    transform: rotateY(-15deg) !important;
}

.i1{
	transition: 600ms;
}
.i2{
	transition: 900ms;
}
.i3{
	transition: 1200ms;
}
.i4{
	transition: 1400ms;
}

.spacer {
	height: 100vh;
}
section.pinned-fade,section.pinned-scale {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.fade-text, .scale-text {
	text-align: center;
	opacity: 0;
	transform: scale(0.8);
}

section {
	width: 100vw;
	min-height: 100vh;
}

#about {
	display: flex;
	align-items: center;
}

#services {
	background-image: url(../assets/blue-shade4.svg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
	background-image: url(../assets/blue-shade2.svg);
	background-size: cover;
}

.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
	text-decoration: none;
}

.btn:focus,
.btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
	opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
	pointer-events: none;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	color: #fff;
	background-color: #0056b3;
	border-color: #004085;
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #004085;
	border-color: #003768;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.ul-border{
    box-shadow: 0px 0px 0px 2px #00b2e7;
    padding: 10px;
    border-radius: 10px;
}

#projects>p, #contact>p{
	font-size: 24px;
	margin-bottom: 0px;
	padding-top: 5vh;
	padding-bottom: 5vh;
	text-align: center;
	color: #005686;
	font-weight: bold;
}

.ul-border>p{
	color: #00b2e7;
}

ul{
	list-style-type: disc;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
}

.card-style {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px #00000080;
	backdrop-filter: blur(15px);
	background-color: #ffffff40;
	height: 324px;
}

.card-dp {
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50px;
	background-size: contain;
	flex: none;
}

footer {
	background: black;
	color: gray;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
}

.sos-icon{
	width: 50px;
	height: 50px;
	background-size: contain;
	display: block;
}

.links-container-div {
	padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.listing-link-style {
	text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    color: #005686;
}

.screenshort-container{
	width: 100%;
	height: 390px;
	display: flex;
	overflow: scroll;
	padding: 16px 0px;
}

.screenshort-container>img{
    box-shadow: 0px 0px 0px 6px gray;
    margin: 0px 16px;
    border-radius: 12px;
}

#copy {
	font-size: 12px;
}

/* ----- RESPONSIVENESS START ----- */
@media only screen and (max-width: 768px) {

	/* For mobile: */
	.logo_1 {
		width: 55vw
	}

	.logo_2 {
		top: 200vh;
		background-image: url(logo.svg);
		background-repeat: no-repeat;
		background-position: 63% -20%;
		background-size: 600%;
		width: 100vw;
		height: 200vh;
		position: absolute;
		z-index: -1;
		opacity: 25%;
	}

	.more {
		width: fit-content;
        margin-left: auto;
        margin-right: 15vw;
        margin-bottom: 33vw;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
	}

	.card-resp {
		padding: 25px;
		width: 100%;
		min-height: 300px;
	}

	.description {
		margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 1vh;
        margin-bottom: auto;
		font-family: cursive;
	}

	#home {
		background-image: url(../assets/main-home.jpeg);
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: 50%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
	}

	#home>p, #services>p {
		margin-left: 10vw;
		margin-right: 5vw;
		font-size: 20px;
	}

	.fade-text>p{
		text-align: center;
	}

	.scale-text>p {
		color: #005686;
	}

}

@media only screen and (min-width: 768px) {

	/* For desktop: */
	.logo_1 {
		height: 55px;
	}

	.more {
		width: fit-content;
		margin-left: 10vw;
		margin-right: auto;
		margin-bottom: 15vh;
		border-radius: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.card-resp {
		padding: 25px;
		width: 50%;
		min-height: 300px;
	}

	.description {
		margin-left: 10vw;
        margin-right: 45vw;
        margin-bottom: 10%;
        font-family: cursive;
        font-size: 25px;
	}

	#home {
		background-image: url(../assets/main-home.jpeg);
		background-repeat: no-repeat;
		background-position: 90% 25%;
		background-size: 30%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
	}

	#home>p,#services >p {
		margin-left: 10vw;
		margin-right: 5vw;
		font-size: 35px;
	}

	.fade-text>p{
		text-align: justify;
	}

	.scale-text>p {
		color: #005686;
	}
}


/* ----- RESPONSIVENESS END ----- */